# miso-dev config
annotator.maf2maf=/home/wangq/bin/vcf2maf/maf2maf.pl
annotator.vcf2maf=/home/wangq/bin/vcf2maf/vcf2maf.pl
annotator.path=PATH=/ssd-data/cmo/opt/perl/perl-5.20.2/bin/:/ssd-data/cmo/bin:/ssd-data/cmo/opt
annotator.perl_bin=/ssd-data/cmo/opt/perl/perl-5.20.2/bin/perl
annotator.perl_lib=PERL5LIB=/ssd-data/cmo/opt/perl/perl-5.20.2/lib/perl5
annotator.vep_path=/ssd-data/cmo/opt/vep/v79
annotator.vep_data=/ssd-data/cmo/opt/vep/v79
annotator.ref_fasta=/ssd-data/cmo/opt/vep/v79/homo_sapiens/79_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa
annotator.exclude_cols=oncotator
annotator.mode=regular
annotator.intermediate_maf=/tmp/annotator_out.maf
annotator.vep_forks=8
annotator.tmp_dir=/ssd-data/portal-tmp-dir
annotator.cluster_node=
annotator.cluster_sp=
annotator.custom_enst=/ssd-data/cmo/opt/vcf2maf/data/isoform_overrides_at_mskcc

# luna config
#annotator.maf2maf=/opt/common/CentOS_6/vcf2maf/v1.5.2/maf2maf.pl
#annotator.vcf2maf=/opt/common/CentOS_6/vcf2maf/v1.5.2/vcf2maf.pl
#annotator.vep_path=/opt/common/CentOS_6/vep/v79
#annotator.vep_data=/opt/common/CentOS_6/vep/v79
#annotator.vep_forks=8
#annotator.ref_fasta=/opt/common/CentOS_6/vep/v79/homo_sapiens/79_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa
#annotator.exclude_cols=oncotator
#annotator.intermediate_maf=/home/onur/annotator/annotator_out.maf
#annotator.tmp_dir=/home/onur/annotator/cache
#annotator.mode=cluster
#annotator.cluster_node=8
#annotator.cluster_sp=100

# local config
#annotator.maf2maf=/home/sos/MSKCC/portal/vcf2maf/maf2maf.pl
#annotator.vcf2maf=/home/sos/MSKCC/portal/vcf2maf/vcf2maf.pl
#annotator.vep_path=/home/sos/MSKCC/portal/vep
#annotator.vep_data=/home/sos/MSKCC/portal/vep
#annotator.vep_forks=8
#annotator.ref_fasta=/home/sos/MSKCC/portal/vep/homo_sapiens/76_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa
#annotator.exclude_cols=oncotator
#annotator.intermediate_maf=/home/sos/MSKCC/portal/annotator/annotator_out.maf
#annotator.tmp_dir=/home/sos/MSKCC/portal/annotator/cache
#annotator.mode=regular